/* Main */

$task-bg: #d7d7d7;


@mixin border-style($size, $color) {
	border: $size solid $color;
}

@mixin border-radius($radius) {
	-webkit-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

h3 {
	text-align: center;
}

.btn-clear,
.btn-add,
.btn-lst-mod {
	@include border-radius(5px);
	background-color: white;
	margin-bottom: 10px;
}

.btn-add {
	margin-left: 5px;
}

.btn-lst-mod {
	margin-left: 50px;
	margin-bottom: 0;
}

.task {
	@include border-style(1px, black);
	@include border-radius(5px);
	width: 250px;
	height: 100%;
	background-color: $task-bg;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-right: 20px;
	
	ul {
		@include border-style(1px, black);
		@include border-radius(5px);
		background-color: white;
		
		li {
			list-style: none;
			border-bottom: 1px solid black;
			padding: 10px;
		}
	}
}
